.playlist-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  padding-right: 8%;
  border: 1px solid var(--secondary-c-color);
}

.playlist-item > :last-child {
  padding-left: 1rem;
  margin-left: auto;
}

.playlist-item:last-child {
  border-bottom: none;
}

.playlist-item:hover {
  box-shadow: inset 2px 1px 5px var(--primary-c-color);
}
