.music-player-ctn {
  width: 100%;
  height: calc(100vh - 5.4rem);
}

@media screen and (min-width: 768px) {
  .music-player-ctn {
    display: flex;
  }

  .music-player-ctn > :first-child {
    width: 42%;
  }

  .music-player-ctn > :last-child {
    flex: 1;
  }
}
