:root {
  --main-color: #0f1c21;
  --primary-c-color: #24571f;
  --secondary-c-color: #0d2516;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e9f5ff;
  background-color: var(--main-color);
}
