header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: linear-gradient(
      to bottom,
      var(--secondary-c-color) 0%,
      transparent 50%
    ),
    linear-gradient(to top, var(--secondary-c-color) 0%, transparent 50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 5px 10px var(--main-color);
}

header * {
  background: inherit;
}

header .back {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  header .back {
    padding-left: 0.8rem;
  }
}
